.container {
  max-width: 117rem;
  margin: auto;
  padding: 0 1.6rem;

  &-fluid {
  }
}

.login {
  &-main {
    width: 50rem;
    margin: auto;
    padding: 1.5rem 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 1rem solid var(--blue);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-holder {
  margin-bottom: 1.4rem;
}

.input-field {
  width: 100%;
  height: 4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  font-size: 1.6rem;

  &:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.area {
  height: 10rem;
  padding: 1rem;
}

.input-login {
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  height: 5rem;
  font-size: 1.6rem;
}

.navbar {
  padding: 0 1.6rem;
  background: var(--blue);
  color: var(--white);
  margin-bottom: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navlink-wrapper {
  display: flex;
  gap: 1.6rem;

  li {
    a {
      display: block;
      text-decoration: none;
      color: var(--white);
      padding: 2rem;
      border-top: 0.2rem solid transparent;

      &:hover,
      &.active {
        border-top-color: var(--white);
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.2),
          transparent 40%
        );
      }
    }
  }
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--white);

  a {
    color: var(--white);
    text-decoration: none;
  }
}

.not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.write-message {
  max-width: 50rem;
  margin-bottom: 3rem;
}

.post-collection {
  margin-bottom: 2rem;
}

.post {
  padding: 1.6rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-left: 0.3rem solid var(--blue);
  position: relative;
  margin-bottom: 2rem;
}

.delete-post {
  position: absolute;
  right: 0.6rem;
  top: 0;
  font-size: 3rem;
  transform: rotate(45deg);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.post-author {
  font-size: 1.4rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;

  a {
    color: var(--blue);
    text-decoration: none;
    margin-left: 1rem;
  }

  strong {
    font-size: 1.6rem;
  }
}

.like-comment {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  padding-top: 1.6rem;
  margin-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.button-like,
.button-comment {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

.button-like[disabled] {
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.reply-comment {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.write-comment {
  max-width: 45rem;
}

.show-comment-wrapper {
  margin-top: 2rem;
  max-width: 50rem;
}

.show-comments {
  margin-top: 1.4rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.05);

  .write-comment {
    margin-top: 1.4rem;
  }
}

.comment,
.comment-author {
  font-size: 1.4rem;
}

.profile-banner {
  height: 30rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-basic {
  padding-left: 4rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 4rem;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent) 1;
}

.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  margin: -9rem 0 4rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.profile-intro {
  flex: 1;
}

.profile-name {
  font-size: 2.6rem;
  margin-bottom: 1.4rem;
}

.profile-designation {
  font-size: 1.8rem;
}

.profile-body {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  margin-bottom: 4rem;
}

.profile-block {
  padding: 1.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.skill-set {
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;

  span {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.4rem;
    border-radius: 0.3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);

    img {
      width: 1.6rem;
    }
  }

  .delete {
    display: none;
  }
}

.activity-details {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  span {
    border-radius: 0.3rem;
    padding: 1rem 1.4rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);
  }
}

.hobbies {
  li {
    padding: 1.6rem 0;
    border-top: 0.1rem solid transparent;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent) 1;
  }
}

.center-items {
  text-align: center;
}

.edit-profile {
  max-width: 60rem;
  margin: 0 auto 4rem;

  label {
    display: block;
    margin-bottom: 1rem;
  }

  .profile {
  }

  .profile-banner {
    height: 20rem;
  }

  .profile-pic {
    margin: 0 auto 1.6rem;
  }

  .skill-set,
  .hobbies {
    margin-top: 2rem;

    .delete {
      position: absolute;
      display: inline-block;
      border: none;
      background: none;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      cursor: pointer;
      width: 1.6rem;
      height: 1.6rem;

      img {
        width: 100%;
      }
    }
  }

  .hobbies {
    margin-top: 3rem;

    li {
      position: relative;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-image: none;
    }

    .delete {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.edit-item {
  padding: 1.6rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid transparent;
  border-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.2),
      transparent
    )
    1;
}

.chat-component {
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.chat-logo {
  width: 100%;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.user-list-wrapper {
  position: absolute;
  width: 20rem;
  padding: 1.6rem;
  bottom: 7rem;
  right: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.user-list {
  max-height: 25rem;
  overflow: auto;

  li {
    margin-top: 1rem;
    text-transform: capitalize;
    position: relative;
    padding-left: 1.6rem;

    &:first-of-type {
      padding: 0;

      &::before {
        display: none;
      }
    }

    &.active {
      &::before {
        background: green;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      background: lighten(#000, 70);
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }

    a {
      color: var(--blue);
      text-decoration: none;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 2rem;
    bottom: -1.6rem;
    border: 0.7rem solid transparent;
    border-top: 1rem solid rgba(0, 0, 0, 0.2);
  }

  &::before {
    filter: blur(0.15rem);
    bottom: -1.9rem;
  }

  &::after {
    border-top: 1rem solid var(--white);
  }
}
