.container {
  max-width: 117rem;
  margin: auto;
  padding: 0 1.6rem;

  &-fluid {
  }
}

.login {
  &-main {
    width: 50rem;
    margin: auto;
    padding: 1.5rem 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 1rem solid var(--blue);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-holder {
  margin-bottom: 1.4rem;
}

.input-field {
  width: 100%;
  height: 4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  font-size: 1.6rem;

  &:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.area {
  height: 10rem;
  padding: 1rem;
}

.input-login {
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  height: 5rem;
  font-size: 1.6rem;
}

.navbar {
  padding: 0 1.6rem;
  background: var(--blue);
  color: var(--white);
  margin-bottom: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navlink-wrapper {
  display: flex;
  gap: 1.6rem;

  li {
    a {
      display: block;
      text-decoration: none;
      color: var(--white);
      padding: 2rem;
      border-top: 0.2rem solid transparent;

      &:hover,
      &.active {
        border-top-color: var(--white);
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.2),
          transparent 40%
        );
      }
    }
  }
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--white);

  a {
    color: var(--white);
    text-decoration: none;
  }
}

.not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.write-message {
  max-width: 50rem;
  margin-bottom: 3rem;
}

.post-collection {
  margin-bottom: 2rem;
}

.post {
  padding: 1.6rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-left: 0.3rem solid var(--blue);
  position: relative;
  margin-bottom: 2rem;
}

.delete-post {
  position: absolute;
  right: 0.6rem;
  top: 0;
  font-size: 3rem;
  transform: rotate(45deg);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.post-author {
  font-size: 1.4rem;
  display: flex;
  gap: 2rem;
}

.like-comment {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  padding-top: 1.6rem;
  margin-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.button-like,
.button-comment {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

.button-like[disabled] {
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.reply-comment {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.write-comment {
  max-width: 45rem;
}

.show-comment-wrapper {
  margin-top: 2rem;
  max-width: 50rem;
  display: none; // Will be removed later
}

.show-comments {
  margin-top: 1.4rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.05);

  .write-comment {
    margin-top: 1.4rem;
  }
}

.comment,
.comment-author {
  font-size: 1.4rem;
}
