@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: #0d7dde;
  --base-font-color: #2e2e2e;
  --white: #fff;
  --black: #000;
}

html {
  font-size: 10px;
  color: var(--base-font-color);
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1.2em;
}

.title {
  font-weight: normal;

  &-1 {
    font-size: 3rem;
  }

  &-2 {
    font-size: 2.6rem;
  }

  &-3 {
    font-size: 2.2rem;
  }

  &-4 {
    font-size: 1.8rem;
  }

  &-5 {
    font-size: 1.5rem;
  }

  &-6 {
    font-size: 1.2rem;
  }
}

.lebel {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.button,
a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background: var(--blue);
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  color: var(--white);
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;

  &-sm {
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
  }
}
